# PostgreSQL Kimlik Bilgileri
POSTGRES_DB_USER=admin
POSTGRES_DB_PASSWORD=SuperSecretSecurePassword2026!!
POSTGRES_DB_NAME=shuffleseries_db

# SonarQube Kimlik Bilgileri
SONARQUBE_DB_USER=sonar
SONARQUBE_DB_PASSWORD=sonar
SONARQUBE_DB_NAME=sonarqube